.pagination.menu a.item.selected {
    background-color: #00b3ee;
}

th.sorted {
    color: #00b3ee !important;
}

.pointer {
    cursor: pointer !important;
}

tr.installed {
    background-color: #d8ffd8;
}
